<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Your data -->
    <add key="DS_CLIENT_ID" value="{DS_CLIENT_ID}" />
    <add key="DS_IMPERSONATED_USER_GUID" value="{DS_IMPERSONATED_USER_GUI}" />
    <add key="AWS_ACCOUNT" value="{AWS_ACCOUNT}" />
    <add key="AWS_SECRET" value="{AWS_SECRET}" />
    <add key="BASIC_AUTH_NAME" value="{BASIC_AUTH_NAME}" />
    <add key="BASIC_AUTH_PW" value="{BASIC_AUTH_PW}" />
    <add key="QUEUE_URL" value="{QUEUE_URL}" />
    <add key="AWS_ACCOUNT" value="{AWS_ACCOUNT}" />
    <add key="AWS_SECRET" value="{AWS_SECRET}" />
    <add key="DS_PRIVATE_KEY" value="-----BEGIN RSA PRIVATE KEY-----&#xA;
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX&#xA;
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX&#xA;
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX&#xA;
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXR8q+ReuJAoIBA/omKBC10Fi8ez&#xA;
...
XXXXXXXXXXXXXXXXXXXXXXXAAshxKUsvW7Kf8a60BoVMi32qyGrK&#xA;
-----END RSA PRIVATE KEY-----&#xA;" />
    <!-- Used for testing -->
    <add key="DS_CC_1_EMAIL" value="{DS_CC_1_EMAIL}" />
    <add key="DS_CC_1_NAME" value="{DS_CC_1_NAME}" />
    <add key="DS_SIGNER_1_EMAIL" value="{DS_SIGNER_1_EMAIL}" />
    <add key="DS_SIGNER_1_NAME" value="{DS_SIGNER_1_NAME}" />
    <add key="ENABLE_BREAK_TEST" value="true" />
    <add key="TEST_OUTPUT_DIR_NAME" value="test_messages" />
    <add key="ENQUEUE_URL" value="{ENQUEUE_URL}" />
    <!-- Default data -->
    <add key="DS_TARGET_ACCOUNT_ID" value="FALSE" />
    <add key="DS_AUTH_SERVER" value="https://account-d.docusign.com"/>
    <add key="DEBUG" value="true" />
    <add key="ENVELOPE_CUSTOM_FIELD" value="Sales order" />
    <add key="OUTPUT_FILE_PREFIX" value="order_" />
  </appSettings>
</configuration>